<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CinemaSessionWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="CinemaSessionEntities" connectionString="metadata=res://*/ADOApp.BaseModel.csdl|res://*/ADOApp.BaseModel.ssdl|res://*/ADOApp.BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PJMOP04;initial catalog=CinemaSession;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <userSettings>
        <CinemaSessionWPF.Properties.Settings>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
        </CinemaSessionWPF.Properties.Settings>
    </userSettings>
</configuration>