<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="CinemaSessionEntities" connectionString="metadata=res://*/ADOApp.BaseModel.csdl|res://*/ADOApp.BaseModel.ssdl|res://*/ADOApp.BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PJMOP04;initial catalog=CinemaSession;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>